<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Discoveri</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet' type='text/css'>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="app.js"></script>
	<script src="events.js"></script>
</head>
<body ng-app="discoveri" ng-controller="MainCtrl">
	<div class="main-content">
		<div class="aside-1">
			<div class="aside">
				<h2>{{ artist }}</h2>
				<div class="artist-img" ng-style="{'background-image': 'url(' + images + ')'}"></div>
				<p>Followers : <span id="followers">{{ followers | number }}</span></p>
			</div>
			<div class="aside infobox" ng-show="tracksView">
				<div class="toggle-display">
					<span class="songs" ng-click="tracksView = true">Songs</span>
					<span class="albums" ng-click="tracksView = false">Albums</span>
				</div>
				<ul class="tracklist">
					<li ng-repeat="track in topTracks">
						<i class="fa fa-play"></i>
						<p>{{ track.name }}</p>
						<audio ng-src="{{ trustSrc(track.preview_url) }}"></audio>
					</li>
				</ul>
			</div>
			<div class="aside infobox" ng-hide="tracksView">
				<div class="toggle-display">
					<span class="songs" ng-click="tracksView = true">Songs</span>
					<span class="albums" ng-click="tracksView = false">Albums</span>
				</div>
				<ul class="albumlist">
					<li ng-repeat="album in albums | orderBy:'-release_date'">
						<img ng-src="{{ album.images[0].url }}" alt="{{ album.name }}" width="120" height="120">
						<audio ng-src="{{ trustSrc(album.tracks.items[0].preview_url) }}"></audio>
						<div class="album-info">
							<p>{{ album.name }}</p>
							<pre>{{ album.release_date | date:'yyyy'}}</pre>
						</div>
					</li>
				</ul>
			</div>
		</div><!--
		-->
		<div class="banner-top">
			<h1>Discoveri</h1>
			<form ng-submit="getArtistInfo(search)">
				<input type="text" ng-model="search" placeholder="Search an artist...">
			</form>
		</div>
		<div class="related-artists">
			<ul id="related">
				<li ng-repeat="artist in relatedArtists | limitTo:9">
					<div ng-style="{
						'background-image': 'url({{ artist.images[0].url }})'}"
						ng-click="getArtistInfo(artist.name)">	
					</div>
					<p>{{ artist.name }}</p>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>